<!DOCTYPE html >
<html >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Intranet | Galeria de Fotos | Brascola Ltda.</title>

<meta name="description" content="Valores" />
<meta name="keywords" content="Brascola Ltda" /> 
	
	<script type="text/javascript" src="../js/jquery-1.4.1.min.js"></script>
	<script type="text/javascript" src="../js/menu.js"></script>
	<script type="text/javascript" src="../js/slideshow.js"></script>
	<script type="text/javascript" src="../js/cufon-yui.js"></script>
	
	<script type="text/javascript">
		Cufon.replace('h1,h2,h3,h4,h5,#menu,#copy,.blog-date');
	</script>
	<script type="text/javascript" src="js/fancyzoom.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('div.photo a').fancyZoom({directory: 'images/zoom', scaleImg: true, closeOnClick: true});
		});
	</script>
	<link rel="stylesheet" href="../css/main.css" type="text/css" />

	<link rel="icon" href="....................." type="image/x-icon" /> 
	<link rel="shortcut icon" href="............" type="image/x-icon" />

</head>
<body>
	<div id="bg">
		<div class="wrap">
			
			<!-- logo -->
			<h1><a href="../index.html"><img src="../images/logo.png" /></a></h1>
			<!-- /logo -->
			
			<!-- menu -->
				<div id="mainmenu">
				<ul id="menu">
					<li><a href="../_apresentacao/apresentacao.html">Apresentação</a></li>
					<li><a href="../_historia/historia.html">História</a></li>
					<li><a href="../_diretoria/diretoria.html">Diretoria</a></li>
					<li><a href="../_departamentos/departamentos.html">Departamentos</a>
						<ul>
							<li><a href="../_departamentos/assistencia_tecnica.html">Assistências Técnicas</a></li>
							<li><a href="../_departamentos/comunicacao.html">Comunicação</a></li>
							<li><a href="../_departamentos/gerencia.html">Gerências</a></li>
							<li><a href="../_departamentos/gestao_da_qualidade.html">Gestão da Qualidade</a></li>
							<li><a href="../_departamentos/juridico.html">Jurídico</a></li>
							<li><a href="../_departamentos/marketing.html">MKT e Eventos</a></li>
							<li><a href="../_departamentos/producao.html">Produção</a></li>
							<li><a href="../_departamentos/rh.html">RH</a></li>
							<li><a href="../_departamentos/seguranca_do_trabalho.html">Segurança do Trabalho</a></li>
							<li><a href="../_departamentos/secretaria.html">Secretaria</a></li>
							<li><a href="../_departamentos/suprimentos.html">Suprimentos</a></li>
							<li><a href="../_departamentos/ti.html">TI</a></li>
						</ul>
					<li><a href="../_departamentos/app.html">App</a>
						<ul>							
							<li><a href="../_app/chat.html">Chat</a></li>
							<li><a href="../_app/notepad++.html">Notepad++</a></li>
							<li><a href="../_app/OpenOffice4/program/soffice.exe">Open Office 4</a></li>
						</ul>
					</li>
						
				</ul>
			</div>
			<!-- /menu -->
			
			<!-- noticias - banner -->
			
			<div id="pitch">
				<div id="slideshow">
					
					<!-- 1st frame -->
					<div class="active">
						<img src="../images/banner_topo/banner_topo1.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Jornal do Front.</h2>
							<p>Confira a edição de Abril do Jornal do Front o Boletim Informativo da Brascola. 
							<a href="comunicacao/front.html">Leia</a></p>
						</div>
						
					</div>
					<!-- /1st frame -->
					
					<!-- 2nd frame -->
					<div>
						<img src="../images/banner_topo/banner_topo2.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Fique Atento.</h2>
							<p>Conheça as políticas de Segurança e Acesso à Tecnologia. 
							<a href="ti/formularios.html">Saiba mais</a>.</p>
						</div>
						
					</div>
					<!-- /2nd frame -->
					
					<!-- 3rd frame -->
					<div>
						<img src="../images/banner_topo/banner_topo3.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Dicas de Saúde.</h2>
							<p>COVID-19 Coronavirús - o que é coronavírus?, quais são os sintomas do coronavírus?, fatores desencadeantes e os cuidados necessarios.<br />
							<a href="../_comunicados/dicas_de_saude/dica_saude_covid19.html">Saiba mais</a>.</p>
						</div>
						
					</div>
					<!-- 3rd frame -->
					
				</div>
			</div>
			
			<!-- /noticias - banner -->
			
			<!-- main -->
			<div id="main">
			
				<h2 class="inner">Galeria de Fotos</h2>
			
				<!-- portfolio bits -->
				<div id="bits">
				
					<div class="bit">
						<h4>SIPAT 2019</h4>
						<div>
							<a href="../_multimidia/_sipat_2019/sipat_2019.html">
							<img src="../_multimidia/_sipat_2019/pq/10.png" alt="Thumb" /></a>
						</div>
						<p>Confira as fotos de aniversario de 66 Anos da Brascola</p>
					</div>
					
					<div class="bit">
						<h4>Aniversario Brascola 66 Anos</h4>
						<div>
							<a href="../_multimidia/_aniversario_brascola_66_anos/aniversario_brascola_66_anos.html">
							<img src="../_multimidia/_aniversario_brascola_66_anos/pq/01.png" alt="Thumb" /></a>
						</div>
						<p>Confira as fotos da homenagem em comemoração aos 66 anos da Brascola</p>
					</div>
					
					<div class="bit last">
						<h4>Final de Ano 2019</h4>
						<div>
							<a href="../_multimidia/_final_de_ano_2019/final_de_ano_2019.html">
							<img src="../_multimidia/_final_de_ano_2019/pq/01.png" alt="Thumb" /></a>
						</div>
						<p>Confira as fotos da festa de final de ano</p>
					</div>
					
					
					<div class="clear"></div>
				</div>
				<!-- /portfolio bits -->
					
			</div>
			<!-- /main -->
			
			<!-- direita -->
			<div id="side">
				
				<div class="centraliza">
					<a href="../_comunicacao/ramais_brascola.html" title="Encontre um ramal"><img src="../images/telefone.png" alt="Nossos Ramais" border="0"/></a>
					<a href="../_comunicacao/emails_brascola.html" title="Encontre um email"><img src="../images/email.png" alt="Emails" border="0"/></a>
				</div>
				

			</div>
			<!-- /direita -->
		</div>
			
		<!-- rodap -->
		<div id="footer">
			<div id="footerbg">
				<div class="wrap">
				
					<!-- rodap links -->
					<p id="footer_menu">
						<a href="http://www.brascola.com.br" title="Visite o site da Brascola" target="_blank">SITE DA BRASCOLA</a>
					</p>
					<!-- /rodap links -->
					
					<p id="copy">Brascola Ltda | 2020</span></p>
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!-- /rodap -->
		
	</div>
</body>
</html>