{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="bg">
	<div class="wrap">
		<!-- main -->
		<div id="main">
			<h2 class="inner">Dica de Saúde</h2>
			
			<p><h3>O que é coronavírus?</h3>
			COVID-19 (do inglês Coronavirus Disease 2019) é uma doença infeciosa causada pelo coronavírus da síndrome respiratória aguda grave 2 (SARS-CoV-2)
			Os sintomas mais comuns são febre, tosse e dificuldade em respirar. Cerca de 80% dos casos confirmados são ligeiros ou assintomáticos e a maioria 
			recupera sem sequelas.No entanto, 15% são infeções graves que necessitam de oxigénio e 5% são infeções muito graves que necessitam de ventilação assistida 
			em ambiente hospitalar. Os casos mais graves podem evoluir para pneumonia grave com insuficiência respiratória grave, falência de vários órgãos e morte..</p>
			
			<br />
			
			<p><strong>Quais são os sintomas do coronavírus?</strong>
				<li>Febre.</li>
				<li>Tosse.</li>
				<li>Dificuldade para respirar.</li>
			</p>
			
			<br />
			
			<p><strong>Fatores desencadeantes:</strong>
				<li>gotículas de saliva;</li>
				<li>espirro;</li>
				<li>tosse;</li>
				<li>catarro;</li>
				<li>contato pessoal próximo, como toque ou aperto de mão;</li>
				<li>contato com objetos ou superfícies contaminadas, seguido de contato com a boca, nariz ou olhos.</li>
			</p>
			
			<br />
			
			<p><strong>Cuidados:</strong>
				<li>Lavar as mãos frequentemente com água e sabonete por pelo menos 20 segundos, respeitando os 5 momentos de higienização. 
				Se não houver água e sabonete, usar um desinfetante para as mãos à base de álcool.</li>
				<li>Evitar tocar nos olhos, nariz e boca com as mãos não lavadas.</li>
				<li>Evitar contato próximo com pessoas doentes.</li>
				<li>Ficar em casa quando estiver doente.</li>
				<li>Cobrir boca e nariz ao tossir ou espirrar com um lenço de papel e jogar no lixo.</li>
				<li>Limpar e desinfetar objetos e superfícies tocados com freqüência.</li>
			</p>
			
			
			<br />
			
			<p><h3>Conclusão:</h3>
			
			Não existe tratamento específico para infecções causadas por coronavírus humano. No caso do coronavírus é indicado repouso e consumo de bastante água, 
			além de algumas medidas adotadas para aliviar os sintomas, conforme cada caso, como, por exemplo:

			Uso de medicamento para dor e febre (antitérmicos e analgésicos).

			Uso de umidificador no quarto ou tomar banho quente para auxiliar no alívio da dor de garanta e tosse.

			Assim que os primeiros sintomas surgirem, é fundamental procurar ajuda médica imediata para confirmar diagnóstico e iniciar o tratamento.

			Todos os pacientes que receberem alta durante os primeiros 07 dias do início do quadro (qualquer sintoma independente de febre), devem ser alertados para 
			a possibilidade de piora tardia do quadro clínico e sinais de alerta de complicações como: aparecimento de febre (podendo haver casos iniciais sem febre), 
			elevação ou reaparecimento de febre ou sinais respiratórios, taquicardia (aumento dos batimentos cardíacos), dor pleurítica (dor no peito), fadiga (cansaço) 
			e dispnéia (falta de ar).


			<br /><br /><br />
			
			<p>Responsável pela Coluna Dicas de Saúde <strong>Ministério da Saúde</strong>, mais informações no site https://www.saude.gov.br/o-ministro/746-saude-de-a-a-z/46490-novo-coronavirus-o-que-e-causas-sintomas-tratamento-e-prevencao-3</p>
			
		</div>
		<!-- /main -->
	</div>
</div>

{% endblock %}