{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="bg">
	<div class="wrap">
		<!-- /noticias - banner -->
		<div>
			<div id="main">
				
				<h2 class="inner">Tecnologia da Informação</h2>
				
				<p><h3>Políticas de Segurança de Acesso</h3>
				
				O acesso a qualquer programa sem a devida autorização é estritamente proibido e sujeita o infrator às punições previstas nas legislações civil e criminal. 
				Todos os programas e sistemas em rede são CONTROLADOS para assegurar que sejam operados em conformidade com as políticas, procedimentos e código de conduta da BRASCOLA. 
				Para reduzir falhas no sistema, problemas com vírus, bem como estar de acordo com as licenças adquiridas, somente pessoal autorizado pode modificar ou instalar softwares e aplicativos neste computador, 
				ficando ainda expressamente vetada a transmissão de dados e informações a terceiros estranhos à negociação pertinente,seja via e-mail, fax e/ou relatórios. 
				É proibido também o uso de cabos para celular, CDs, DVDs, Pen Drives, Câmeras Digitais ou quaisquer equipamentos capazes de subtrair e armazenar informações contidas neste equipamento sem a autorização da BRASCOLA. 
				Fica também proibido a gravação de fotos pessoais e músicas. Lembrando que suas Senhas de Acesso são PESSOAIS E INTRANSFERÍVEIS.</p>
			
				<br/>
			</div>
		</div>
	</div>
</div>

{% endblock %}