{% extends 'base.html' %}
{% load static %}


{% block content %}

<div id="bg">
	<div class="wrap">
		<!-- main -->
		<div id="main">
			<h2 class="inner">Tecnologia da Informação</h2>
			<p><h3>Tecnologia da Informação</h3></p>
			
				<br /><img src="{% static 'images/henrique.png' %}"/><br />
				
				<strong>Responsável: Henrique </strong>
				
				<br />Analista de TI<br />
				
				<a href="mailto:henrique@brascola.com.br" title="Enviar um email">henrique@brascola.com.br</a>
				
				<br /><br /><br /><br />
				
			
				<table id="Ramais TI">
					
					<tr>
						<td colspan="2" align="center"><div class="titulo3">TI - Brascola</div></td>
					</tr>
					<tr>
						<td width="50%"><strong>Henrique</strong></td>
						<td>2732<br />	
					</tr>
					<tr>
						<td width="50%"><strong>Fernando</strong></td>
						<td>2720<br />
					</tr>
						<td width="50%"><strong>Eduardo</strong></td>
						<td>2787<br />
					<tr>
						<td width="50%"><strong>Raphael</strong></td>
						<td>2755<br />
					</tr>
				</table>
			
			<br /><br />
			<p>
				<h5>Arquivos:</h5>
				<table id="Documentos">
										
					<tr>
						<td align="center" width="50%"><a href="formularios.html">Formulários</a></td>							
						<td align="center" width="50%"><a href="base_conhecimento.html">Base de Conhecimento</a></td>							
					</tr>
				</table>
			</p>
		</div>

	</div>
</div>

{% endblock %}
