{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="bg">
	<div class="wrap">	
		<!-- main -->
		<div id="main">
			<h2 class="inner">App</h2>
		
			<table id="APP Brascola Ltda: 2021">
				<tr>
					<td width="50%"><strong style="font-size: 15px;"><a href="http://extranet.brascola.com.br/exchange"> Outlook Web Access</strong> <div class="titulo3"><img src="{% static 'images/email.jpg' %}" alt="Email" /></a></div></td>
					<td width="50%"><strong style="font-size: 15px;"><a href="http://sistema.brascola.com.br:8090/"> Protheus HTML</strong> <div class="titulo3"><img src="{% static 'images/protheus12H.jpg' %}" alt="Exchange" /></a></div></td>
				</tr>
			</table>	
		</div>
	</div>
</div>
{% endblock %}