{% extends 'base.html' %}
{% load static %}


{% block content %}


<div id="bg">
	<div class="wrap">
		<div id="main">
			<h2 class="inner">Apresentação</h2>	
			<p><h3>Brascola Ltda.</h3>
			<p>Especializada em soluções de alto desempenho em adesivos e selantes para todos os segmentos que necessitam de tecnologia adesiva 
			no Brasil e na América Latina, a Brascola é uma indústria química com forte atuação no Varejo e na Indústria.</p>
			
			<p>Fundada em 25 de setembro de 1953, a Brascola é uma indústria química com forte atuação na distribuição para o varejo
			e para indústrias (B2B).</p>
			
			<p>Soluções de alto desempenho em adesivos e selantes para todos os segmentos que necessitam de tecnologia adesiva no Brasil e 
			na América Latina como artesanato, automotivo, calçadista, construção civil, bricolagem, náutica e indústria em geral.</p>
			
			<p>Unidade fabril localizada em Joinville (SC) com mais de 7 mil m² de área construída, instalada no moderno condomínio industrial 
			Perini Business Park.</p>
			
			<p>A Brascola possui mais de 200 colaboradores, incluindo rede de representantes comerciais em todas as regiões do Brasil.</p>	
			
			</p>
			<br />
			<p><strong>Brascola Ltda.</strong><br />
			Endereço: Rua Dona Francisca, 8300 - Zona Industrial Norte - Joinville / SC - Cep: 89219-600<br />
			<strong>Tel. Empresarial: +55 (47) 3205 2727</strong></p>
			<strong>Tel. Consumidor: 0800 724 1727</strong></p>
			
		</div>
	</div>
</div>	
	

	



{% endblock %}

<!-- main -->
</body>
</html>