{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="bg">
	<div class="wrap">
		<!-- main -->
		<div id="main">
			<h2 class="inner">Departamentos</h2>
						
			<table align="center" id="Diretoria Brascola Ltda: 2020">
				<tr>
					<td width="50%"><div class="titulo3"><a href="assistencia_tecnica.html">Assistências Técnicas</a></div></td>
					<td><div class="titulo3"><a href="comunicacoes.html">Comunicação</a></div></td>
				</tr>
				<tr>
					<td width="50%"><div class="titulo3"><a href="gerencias.html">Gerencias</a></div></td>
					<td width="50%"><div class="titulo3"><a href="gestao_da_qualidade.html">Gestão da Qualidade</a></div></td>						
				</tr>
				<tr>
					<td><div class="titulo3"><a href="juridico.html">Juridico</a></div></td>
					<td width="50%"><div class="titulo3"><a href="marketing.html">MKT e Eventos</a></div></td>
				</tr>
				<tr>
					<td><div class="titulo3"><a href="producao.html">Produção</a></div></td>
					<td width="50%"><div class="titulo3"><a href="rh.html">Recursos Humanos</a></div></td>						
				</tr>
				<tr>
					<td><div class="titulo3"><a href="secretaria.html">Secretaria</a></div></td>
					<td width="50%"><div class="titulo3"><a href="seguranca_do_trabalho.html">Segurança do Trabalho</a></div></td>						
				</tr>
				<tr>
					<td><div class="titulo3"><a href="suprimentos.html">Suprimentos</a></div></td>
					<td><div class="titulo3"><a href="ti.html">Tecnologia da Informação</a></div></td>
				</tr>

				<tr>
					<td><div class="titulo3"><a href="formularios.html">Formulários</a></div></td>
					<td><div class="titulo3"><a href="base_conhecimento.html">Base de Conhecimento</a></div></td>
				</tr>
			</table>			
			
		</div>
		<!-- /main -->	
	</div>
</div>
{% endblock %}

	
