
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="bg">
	<div class="wrap">		
		<!-- main -->
		<div id="main">
			<h2 class="inner">Diretoria</h2>
			
			<h3>GESTÃO 2020</h3>
			
			<img src="{% static 'images/diretoria.png' %}" alt="Foto Diretoria" />
			
			<h4>Legenda - Esq. p/ Dir.: Cleber, Christian, Ricardo , Edenir , Fernado , Paulo , Camila.</h4>
			
			
			<table id="Diretoria Atual do PIC: Gesto 2010-2012">
				<tr>
					<td colspan="2"><div class="titulo3">Presidente</div>Ricardo</td>
				</tr>
				<tr>
					<td width="50%"><div class="titulo3">Gerencia Geral</div>Christian </td>
				</tr>
				<tr>
					<td width="50%"><div class="titulo3">Gerencia Comercial</div>Edenir</td>
				</tr>
				<tr>
					<td width="50%"><div class="titulo3">Gerente Finaceiro</div>Cleber </td>
				</tr>
				<tr>
					<td width="50%"><div class="titulo3">Gerente de Fabrica</div>Fernando </td>
				</tr>
				<tr>
					<td width="50%"><div class="titulo3">Gerente Recursos Humanos</div>Paulo </td>
				</tr>
				<tr>
					<td width="50%"><div class="titulo3">Gerente Suprimentos</div>Camila </td>
				</tr>					
			</table>			
			
		</div>
		<!-- /main -->	
	</div>
</div>
{% endblock %}

