{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="bg">
	<div class="wrap">
		<!-- main -->
		<div id="main">
			<h2 class="inner">Tabelas</h2>
						
			<table align="center" id="Diretoria Brascola Ltda: 2020">
				<tr>
					<td width="50%"><div class="titulo3"><a href="teste.html">Feed</a></div></td>
					<td width="50%"><div class="titulo3"><a href="galeria.html">Galeria</a></div></td>	
				</tr>
				<tr>
					<td width="50%"><div class="titulo3"><a href="users.html">Usuários</a></div></td>
										
				</tr>
				
				
			</table>			
	
		</div>
		<!-- /main -->	
	</div>
</div>
{% endblock %}

	
