{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- main -->
<div id="bg">
	<div class="wrap">
		<div id="main">
			<h2 class="inner">História</h2>
			<script> 
			
			</script>
			
			<p><h3>Brascola LTDA<br />
				<script src="{% static 'js/idade2.js'%}"></script> anos de história</h3>
			
			<p>Nas décadas de 1950 e 1960 começou a surgir no Brasil a indústria calçadista. A Brascola iniciou sua história 
			como o primeiro e maior fornecedor de cola para calçados.</p>
			
			<p>O Brasil continuou progredindo e entre 1960 e 1970 foi a vez das grandes montadoras de automóveis abrirem mercado no Brasil.  
			A Brascola tornou-se uma das poucas empresas certificadas pelas montadoras para utilização de suas colas e massas na linha de produção.</p>
			
			<p>A nação continuou evoluindo e nas décadas de 1970 e 1980 chegou a vez da construção civil. A Brascola, sempre tão atenta aos mercados emergentes, 
			se tornou pioneira na fabricação de colas e selantes de alta qualidade para um mercado tão exigente..</p>
			
			<p>Na década de 1990 a Brascola conquistou e consolidou a liderança em vários segmentos.  Em 2000 a Brascola tornou-se a maior empresa de adesivos 
			e selantes totalmente nacional.</p>
			
			<p>Com <script src="{% static 'js/idade2.js'%}"></script> anos de existência, a Brascola se orgulha em oferecer a mais completa linha de adesivos e selantes do Brasil.
			A linha de produtos abrange diversos mercados da indústria e do varejo.</p>
			
		</div>
	</div>
</div>
{% endblock %}
